.inputBoxShadowDefault {
    filter: drop-shadow(0 0 0 rgba(80 80 80 / 0.03)) drop-shadow(0 0 7px rgb(80 80 80 / 0.5));
}

.inputBoxShadowSuccess {
    filter: drop-shadow(0 0 0 #16ff1671) drop-shadow(0 0 7px #16ff1671);
}

.inputBoxShadowFail {
    filter: drop-shadow(0 0 0 #ff161671) drop-shadow(0 0 7px #ff161671);
}
